body {
    display: block;
    margin: auto;
    font-family: sans-serif;
    font-weight: 100;
}

p {
    display: block;
    height: auto;
    width: auto;
    background-color: aqua;
    /* background: linear-gradient(to right, #fff, #c471ed); */
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

header {
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70px;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    user-select: none;
}

footer {
    font-family: sans-serif;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    color: white;
    font-size: 25px;
    font-weight: 400;
    user-select: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}